body {
    background: azure url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/The.Matrix.glmatrix.3.png/1200px-The.Matrix.glmatrix.3.png);
    font-family: Arial;
    margin: 0;
   }

   
   li a {
     text-decoration: none;
     color: black;
     font-size: 27px;
   }
   
   .menu ul{
     display: flex;
     justify-content: space-around;
   }
   
   .menu li{
     list-style: none;
     background: green;
     margin: 0px 10px;
     padding: 10px;
     border: solid gray 1px;
     border-radius: 12%
   }
   
   .menu li:hover{
     color:green;
     background: whitesmoke;
     margin: 0px 0px;
     padding: 10px 20px;
   }
   
   .site-title,
   .site-subtitle{
     color: whitesmoke;
     text-align: center;  
   }
   
   .site-subtitle {
     font-style: italic;
   }